{% extends 'base.html' %}

{% block conteudo %}

<div class="card">
    <p>Titulo: {{livro.titulo}}</p>
     <p>Ano do livro:{{livro.ano}}</p>
    <p>Autor do livro: {{livro.autor}}</p>
    <p>Gênero do livro: {{livro.genero}}</p>
</div>

{% if resenhas %}
    {% for resenha in resenhas %}
        <div class="card">
            <p>Autor da resenha: {{resenha.usuario}}</p>
            <p>Texto da resenha: {{resenha.texto}}</p>
            <p>Nota da resenha: {{resenha.nota}}</p>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}